html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: Arial;
}

body {
    display: flex;
    font-size: 14px;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    background: whitesmoke;
    padding: 30px;
}

:focus { outline: none !important; }

:global .App {
    background: white;
}

body,div,form,header,footer,section,input,button,nav,aside,article {
    box-sizing: border-box;
}